<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244800113346-krsqr40ndhn511jv8slm0k1abo9p6gak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244800113346-krsqr40ndhn511jv8slm0k1abo9p6gak</string>
	<key>API_KEY</key>
	<string>AIzaSyA8kUooTsAibfQD0Q7EajMPHNMmcORTx-U</string>
	<key>GCM_SENDER_ID</key>
	<string>244800113346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exemple.tpFlutter</string>
	<key>PROJECT_ID</key>
	<string>tp-flutt</string>
	<key>STORAGE_BUCKET</key>
	<string>tp-flutt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244800113346:ios:2f8dad6e3ee791c32ac95b</string>
</dict>
</plist>